* {
  margin: 0;
}

#site-logo {
  width: 130px;
  height: 130px;
}

.app {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: 220px  70vw;
    grid-template-rows: 100vh;
    grid-template-areas: 
    "sidebar content "
    "sidebar content "
    "sidebar content "
    "sidebar content "
    ;
    grid-gap: 10px;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  color: #240046;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: bold;
  margin: 20px 0 20px 0;
}

.navbar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 160px;
  height: 100%;
  /* position: fixed; */
  /* background-color: #9d4edd; */
  background-color: #e7c6ff;
}

.navbar li:hover a {
  color: #c77dff;
  text-decoration: none;
}

ul {
  list-style: none;
  font-size: 20px;
}

li {
  margin-bottom: 25px;
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: #240046;
}

a:hover {
  color: #b9faf8;
}

a:visited {
  color: #240046;
}

.welcome-msg {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.content {
  grid-area: content;
  font-family: 'Didact Gothic', sans-serif;
}

p {
  font-size: 18px;
}

.home-pg {
  text-align: center;
}

.mini-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mini-info {
  width: 300px;
  margin: 5px;
  padding: 15px;
}

.sign-label {
  color: #5a189a;
  font-size: 20px;
  font-weight: bold;
}

.element-label, .mode-label {
  color: gray;
}

.circle {
  color: #9d4edd;
  font-size: 8px;
}

#register, #login, #new-post {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.all-signs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px;
}

.zodiac-sign {
  width: 200px;
  margin: 10px;
  font-size: 20px;
  background-color: #9d4edd;
  color: #e7c6ff;
  text-align: center;
  border-radius: 5px;;
}

.sign-info {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

#blog-index {
  display: flex;
  flex-direction: row;
}

.one-article {
  width: 50%;
  margin: 5px;
  padding: 25px;
  border: 1px solid #9d4edd;
}

.author {
  color: #5a189a;
  font-weight: bold;
}

.timestamp {
  color: #9d4edd;
  font-size: 16px;
}

.article-img {
  width: 300px;
  height: 200px;
  margin-left: 10%;
}

.text-content {
  font-size: 17px;
}

.postLabel, .titleLabel {
  color: #5a189a;
  font-size: 18px;
  font-weight: bold;
}

.write, .writeTitle {
  font-size: 16px;
  font-family: 'Didact Gothic', sans-serif;
  border: none;
  border-bottom: 1px solid gray;
}

.write {
  width: 50vw;
  height: 200px;
}

.writeTitle {
  width: 50vw;
}

.write-icon {
  padding-left: 5px;
}

.new-post-link {
  font-weight: bold;
  font-size: 18px;
  
}

.new-post-link:hover, .write-icon:hover {
  color: #9d4edd;
  text-decoration: none;
}

.btn-primary {
  background-color: #5a189a;
  border: #5a189a;
  text-align: center;
}