* {
  margin: 0;
}

.app {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: 220px  70vw;
    grid-template-rows: 100vh;
    grid-template-areas: 
    "sidebar content "
    "sidebar content "
    "sidebar content "
    "sidebar content "
    ;
    grid-gap: 10px;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  color: #240046;
  font-family: 'Didact Gothic', sans-serif;
  margin: 20px 0 20px 0;
}

.navbar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  width: 150px;
  height: 100%;
  /* position: fixed; */
  /* background-color: #9d4edd; */
  background-color: #e7c6ff;
}

.navbar li:hover a {
  color: #c77dff;
}

ul {
  list-style: none;
  font-size: 20px;
}

li {
  height: 30px;
  margin-bottom: 25px;
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: #240046;
}

a:hover {
  color: #b9faf8;
}

a:visited {
  color: #240046;
}

.welcome-msg {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.content {
  grid-area: content;
  font-family: 'Didact Gothic', sans-serif;
}

p {
  font-size: 18px;
}

#register, #login, #new-post {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.all-signs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.zodiac-sign {
  width: 200px;
  margin: 5px;
  font-size: 20px;
  background-color: #9d4edd;
  color: #e7c6ff;
  text-align: center;
  border-radius: 5px;;
}

.sign-info {
  font-size: 14px;
  color: black;
}

.postLabel, .titleLabel {
  color: #5a189a;
  font-size: 18px;
  font-weight: bold;
}

.write, .writeTitle {
  font-size: 16px;
  font-family: 'Didact Gothic', sans-serif;
}

.write {
  width: 50vw;
  height: 200px;
}

.writeTitle {
  width: 50vw;
}

.write-icon {
  padding-left: 5px;
}

.new-post-link {
  font-weight: bold;
}

.new-post-link:hover, .write-icon:hover {
  color: #9d4edd;
}